<div class="navbar bg-primary">
  <p class="normal-case text-2xl text-primary-content">Word Traverse</p>
  <div class="flex-1"></div>
  <div>
    <div class="dropdown dropdown-end flex flex-row gap-5 justify-around">
      <div class="pr-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-7 w-7 text-primary-content hover:cursor-pointer hover:text-secondary"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          (click)="onCodeIconClick()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          tabindex="0"
          class="h-7 w-7 text-primary-content hover:cursor-pointer hover:text-secondary"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
          />
        </svg>
      </div>
      <div class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-primary-content hover:cursor-pointer hover:text-secondary"
          stroke-width="2"
          viewBox="0 0 973.1 973.1"
          fill="currentColor"
          (click)="toggleAboutDialog()"
        >
          <g>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M502.29,788.199h-47c-33.1,0-60,26.9-60,60v64.9c0,33.1,26.9,60,60,60h47c33.101,0,60-26.9,60-60v-64.9
               C562.29,815,535.391,788.199,502.29,788.199z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M170.89,285.8l86.7,10.8c27.5,3.4,53.6-12.4,63.5-38.3c12.5-32.7,29.9-58.5,52.2-77.3c31.601-26.6,70.9-40,117.9-40
               c48.7,0,87.5,12.8,116.3,38.3c28.8,25.6,43.1,56.2,43.1,92.1c0,25.8-8.1,49.4-24.3,70.8c-10.5,13.6-42.8,42.2-96.7,85.9
               c-54,43.7-89.899,83.099-107.899,118.099c-18.4,35.801-24.8,75.5-26.4,115.301c-1.399,34.1,25.8,62.5,60,62.5h49
               c31.2,0,57-23.9,59.8-54.9c2-22.299,5.7-39.199,11.301-50.699c9.399-19.701,33.699-45.701,72.699-78.1
               C723.59,477.8,772.79,428.4,795.891,392c23-36.3,34.6-74.8,34.6-115.5c0-73.5-31.3-138-94-193.4c-62.6-55.4-147-83.1-253-83.1
               c-100.8,0-182.1,27.3-244.1,82c-52.8,46.6-84.9,101.8-96.2,165.5C139.69,266.1,152.39,283.5,170.89,285.8z"
            />
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
        <div class="absolute top-5 right-5 w-60 bg-white dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl" *ngIf="isOpenAbout">
          <h3 class="text-slate-900 dark:text-white text-lg font-medium tracking-tight">Word traverse</h3>
          <p class="text-slate-500 dark:text-slate-400 mt-2 text-base">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit deleniti eos dicta dignissimos voluptate quo, doloribus necessitatibus magni hic nostrum?
          </p>
        </div>
      </div>
      <ul
        tabindex="0"
        class="dropdown-content menu shadow-2xl bg-accent rounded-box mt-8 ml-2 w-44"
      >
        <ng-container *ngFor="let theme of themes">
          <li class="bg-accent hover:bg-accent-focus">
            <a
              class="text-accent-content text-lg"
              (click)="selectTheme(theme)"
              >{{ theme.value }}</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
