.open-close-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  .visible-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    p {
      margin-right: 0.5rem;
    }
  }
  .open-close-content {
    width: 95%;
    max-width: 600px;
  }
}

.gradient-background {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(198, 198, 198, 0.18) 100%);
}

:host {
  display: block;
}
.fade {
  opacity: 0;
}
