<div class="open-close-container" [ngClass]="{ 'gradient-background': show }">
  <div class="visible-bar">
    <p>{{ show ? openText : closeText }}</p>
    <button mat-mini-fab [color]="show ? 'accent' : 'primary'" (click)="toggleShow()" aria-label="Show or hide the word search form">
      <mat-icon id="pencil-outline" *ngIf="!show" svgIcon="pencil-outline"></mat-icon>
      <mat-icon id="pencil-off-outline" *ngIf="show" svgIcon="pencil-off-outline"></mat-icon>
    </button>
  </div>
  <div class="open-close-content fade" [@openClose]="state" (@openClose.done)="animationDone($event)">
    <ng-content></ng-content>
  </div>
</div>
