<div class="app-grid">
  <header>
    <app-navbar></app-navbar>
  </header>
  <main>
    <div class="content-container">
      <div class="content-container-child">
        <ng-container *ngIf="showChart; else emptyState">
          <app-chart [options]="chartOptions"></app-chart>
        </ng-container>
        <ng-template #emptyState>
          <app-empty-state>
            <p class="empty-state-status-message">
              Looks like there's nothing here. Make a search to get started!
            </p>
          </app-empty-state>
        </ng-template>
      </div>
      <div class="content-container-child search-panel">
        <app-word-search
          (latestSearch)="handleLatestSearch($event)"
        ></app-word-search>
        <app-search-result
          *ngIf="latestSearch"
          [latestSearch]="latestSearch"
        ></app-search-result>
      </div>
    </div>
  </main>
</div>
