<div class="m-4 h-auto w-auto">
  <form
    class="flex flex-col items-center"
    [formGroup]="wordSearchForm"
    #formDirective="ngForm"
    (ngSubmit)="onWordSearchFormSubmit(formDirective)"
  >
    <div class="w-[52rem] mr-1">
      <input
        formControlName="word"
        type="text"
        placeholder="Search for a word"
        class="input input-bordered w-full m-1 text-xl"
      />
      <ul
        *ngIf="searchSuggestions | async as list"
        class="absolute w-[52rem] bg-slate-300"
        (clickOutside)="showSearchSuggestions = false"
      >
        <ng-container *ngIf="showSearchSuggestions">
          <li
            class="text-slate-900 text-lg hover:bg-slate-400 hover:text-purple-900"
            *ngFor="let option of list"
            (click)="selectSearchSuggestion(option)"
          >
            {{ option }}
          </li>
        </ng-container>
      </ul>
    </div>

    <select
      class="select select-bordered w-[52rem] m-1 text-lg"
      formControlName="searchOptions"
    >
      <option value="" disabled selected class="hidden">
        Select your option
      </option>
      <ng-container *ngFor="let option of wordSearchOptions">
        <option
          class="text-slate-900 text-lg hover:bg-slate-400 hover:text-purple-900"
          [value]="option.value"
        >
          {{ option.name }}
        </option>
      </ng-container>
    </select>

    <button
      type="submit"
      [disabled]="!wordSearchForm.valid"
      class="btn w-[52rem] text-lg m-1"
    >
      Search
    </button>
  </form>
</div>
