.word-search-container {
  margin: 1rem;
  height: auto;
  width: auto;
  background-color: inherit;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .word-search-form-field {
      width: 100%;
    }
  }
}
