.word-search-container {
  height: auto;
  width: 100vw;
  background-color: inherit;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .word-search-form-field {
      width: 90vw;
    }
  }
}
